<h1>Welcome to our first rails app !</h1>
<%= @time %>

<%#= link_to contact_path do %>
  <%# <img src="https://images.unsplash.com/photo-1691466517945-0f9cc5b47539?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" alt="" width= "200px">
<% end %>
